:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;


}
.link-logo {
    font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
}

.logo {
    color: #2196F3;
}
.logo-title {
    color: rgba(0, 0, 0, 1);
}

body {
    background-color: #FFFFFF;
    color: 212121;
    font-family: Roboto, sans-serif;
    color: var(--title-text-color);
}

a {
    text-decoration: none;
}
.site-nav {
    color: #FFFFFF;
    background-color: #FFFFFF;
}
.site-nav .link {
    color: rgba(33, 33, 33, 1);
    font-family: Roboto, sans-serif;
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        cursor: pointer;
        }
.link  {
    color: rgba(33, 33, 33, 1);
        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        list-style: inherit;
         }
    
 .list .link.current {
    color: #1BBCEB;
 }
.link:hover,
.link:focus {
    color: rgba(33, 150, 243, 1)
}
    .site-nav .link:focus,
    .site-nav .link:hover {
        color: rgba(33, 150, 243, 1)
    }

    .list {
        list-style: none;
    }
    link {
        text-decoration: none;
    }
    
    .auth-link .link:hover,
    .auth-link .link:focus {
      background-color: rgba(33, 150, 243, 1)
        }
        .hero {
            background-color: #2F303A;;
        }
        .title {
            color: #FFFFFF;
            background-color: #2F303A;
                font-weight: 900;
                font-size: 44px;
                line-height: 1.36;
                letter-spacing: 0.06em;
                text-align: center;
                text-transform: uppercase;
        }
        .title-hero {
            visibility: hidden;
        }
                                          /* button */
     .button {
        color: rgba(255, 255, 255, 1);
        background-color: #2196F3;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.88;
            text-align: center;
            letter-spacing: 0.06em;
            font-family: inherit;
            cursor: pointer;
     }
     .button:hover,
     button:focus {
background-color: #1BBCEB;
color: rgba(255, 255, 255, 1);
     }
     .btn {
        color: var(--title-text-color);
        background-color: #F5F4FA;;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.6;
            font-family: inherit;
            cursor: pointer;
     }
     .btn:hover,
     .btn:focus {
        background-color: #1BBCEB;
     }
                                         /* hero */
     .features {
        color: rgba(117, 117, 117, 1);
        background-color: #F5F4FA;
        font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
     } 
     .features-text {
        color: rgba(117, 117, 117, 1);
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.03em;
     }
   .content-title {
    color: var(--title-text-color);
    font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
   }
   .slider {
    background-color: #F5F4FA;
   }
   .slider-list {
    background-color: #FFFFFF;
   }
   .slider-heading {
    color: var(--title-text-color);
    font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
   }
.slider-title {
    color: var(--title-text-color);
    font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
}
.slider-text {
    color: var(--primary-text-color);
    font-weight: 400;
        font-size: 16px;
        line-height: 1.18;
}
.footer {
    background-color: #2F303A;
}
.footer-contacts {
        color: rgba(255, 255, 255, 0.6);
        ont-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        font-style: normal;
}
.footer-adress {
    color: #FFFFFF;
    font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        font-style: normal;
}

.cart-title {
color: var(--title-text-color);
font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.03em;
}
.cart-text {
color: rgba(255, 255, 255, 0.6);
font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
}







